.alert-messages{
    text-align: center;
    padding: 5px;
    background-color: rgba(231, 76, 60, 1);
    color: white;
}
.succ-mess{
    text-align: center;
    padding: 5px;
    
    color: white;

}
.table-clerk{
    text-align: center;
}
.div-total-regular-bill{
    text-align: center;
}
.div-total-discounted-bill{
    text-align: center;
}
.price-bold{
    text-decoration: solid;
    background-color: red;
}